@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font-hero: 'Modak',
 cursive;
 $body-font:'Poppins',
sans-seri;
 $color-primary: #cc9966;
$color-secondary:#c96;
$p-color:#868686;
$sale-color:#EF837B;
$hover-color:#c15454;
$top-element :30px;
